.homepage_header {
  width: 100%;
  height: 120px;
  padding: 25px;
      margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage_hamburger {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homepage_space {
  width: 10%;
  height: 100%;
}

.index {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.index :hover {
  cursor: pointer;
}
.material-symbols-outlined {
  width: 100%;
  height: 100%;
}
#close_icon img {
  height: 150%;
}
.material-symbols-outlined img {
  width: 100%;
  height: 120%;
}
/*strawberry open*/

.menu {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  cursor: pointer;
  background-image: url(./homepage_img/submenuopen_bk.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
#close_icon {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger_space {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
}
.homepage_hamburger-open {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.menu_down {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*strawberry open*/
/*hamburger_content*/
.hamburger_content {
  width: 40%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
}
.hamburger_news {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_news a {
  width: 100%;
  height: 50%;
  display: flex;
}
.hamburger_news h1 {
  font-size: 22px;
  font-weight: 500;
}
.hamburger_news h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_newsli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger_newsli li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_newsli li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
  display: flex;
  justify-content: flex-start;
}
.hamburger_newsli li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
/*strawberry open*/
/*hamburger_about*/
.hamburger_about {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_about h1 {
  font-size: 22px;
  font-weight: 500;
}
.hamburger_about h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_aboutli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger_about li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_about li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_about li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
/*strawberry open*/
/*hamburger_product*/
.hamburger_product {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_product h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hamburger_product h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_productli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger_product li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_product li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_product li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
#homepage_cookies {
  width: 40%;
}
/*strawberry open*/
/*hamburger_all*/
.hamburger_all {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_all h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hamburger_all h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_allli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger_all li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_all li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_all li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
#homepage_cookies2 {
  width: 40%;
}
.hamburger_carousel {
  width: 50%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger_carousel img {
  height: 70%;
  z-index: 6;
  position: absolute;
}
.homepage_nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage_nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homepage_nav li {
  width: 100%;
  height: 100%;
  display: flex;
}
.homepage_nav li img {
  width: 55%;
  margin-top: 70px;
}

.homepage_nav li a {
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;}
.homepage_nav li :hover {
  color: #ff9b25;
  transition-duration: 0.3s;
}
.homepage_icons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_member {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}
.homepage_member a {
width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.homepage_member a img {
  height: 30px;
}
.homepage_member img {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.homepage_member img:last-child:hover {
  opacity: 0;
}
.homepage_shoppingcar {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_shoppingcar a {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
        justify-content: center;
}

.homepage_shoppingcar a img {
  height: 30px;
}
.homepage_shoppingcar img {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.homepage_shoppingcar img:last-child:hover {
  opacity: 0;
}
.homepage_searchbar {
width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.homepage_search {
  display: flex;
  align-items: center;
width: 80%;
    height: 60%;
  padding: 0px 20px 0px 15px;
  border-radius: 50px;
  border: 2px solid #ffe7ab;
  background-color: #fffde6;
}
.homepage_search img {
  width: 20px;
  height: 14px;
  display: flex;
  align-items: center;
}
.homepage_search input {
  width: calc(100px - 50px);
  margin: 0 0 0 5px;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
      font-weight: 400;
    letter-spacing: 2px;
}
::placeholder {
  color: #ff9b25;
  font-weight: 1000px;
}
input:focus {
  outline: none;
  background-color: transparent;
}
input:focus::placeholder {
  transition-duration: 0.3s;
  opacity: 0;
  background-color: transparent;
}
.search_white {
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.search_orange {
  background-color: #fffde6;
  transition-duration: 0.3s;
}

.news-submenu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #505050;
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
  letter-spacing: 1px;
}

.news-submenu img {
  height: 30px;
  padding-bottom: 3px;
  margin: 20px;
}

.news-submenu a {
  padding: 30px;
  font-weight: 1000;}

.news-submenu a:hover {
  color: #f17f00;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.title-1 {
  display: flex;
  margin-top: 70px;
  margin-left: 100px;
}

.title-1 img {
  height: 50px;
}

.title-1 h2 {
  color: #924317;
  font-size: 40px;
  font-weight: 1000;
  letter-spacing: 1px;
}

.title-1 h3 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #924317;
  font-size: 36px;
  letter-spacing: 1px;
}

.str {
  margin: 10px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.main img {
  width: 1700px;
  margin-top: 50px;
}

.left-hand img {
  width: 650px;
  margin-top: -440px;
}

.right-hand img {
  width: 650px;
  margin-top: -440px;
}

.hand {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -180px;
}

.content img {
  width: 1200px;
}

img.cnt {
  margin-top: 50px;
}

.deco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -30px;
}

.dots {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -300px;
  margin-bottom: 50px;
}

.dots-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.dots-2 img {
  width: 25px;
  margin-bottom: 100px;
}

.dotss img {
  width: 25px;
  margin-bottom: 100px;
}

.dotss {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.dots img {
  width: 25px;
  margin-bottom: 100px;
}

img.deco-1 {
  width: 400px;
}

img.deco-2 {
  width: 350px;
  margin-right: 80px;
}

.content_2 {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.content_2 p {
  color: #505050;
  font-size: 26px;
  font-style: normal;
  font-weight: 1000;
  line-height: 200%; /* 56px */
  letter-spacing: 2.8px;
}

.title-2 {
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
}

.title-2 img {
  height: 40px;
}

.title-2 h2 {
  color: #924317;
  font-size: 32px;
  font-weight: 1000;
  letter-spacing: 1px;
}

.title-2 h3 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #924317;
  font-size: 32px;
  letter-spacing: 1px;
}

.layout-1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-inline: 250px;
}

h2.stbry-EN {
  color: #1f1f1f;
  font-family: "Love Ya Like A Sister";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

.intro {
  margin-top: 200px;
}

.intro img {
  height: 55px;
  margin-top: 25px;
}

p.reveal-type {
  margin-top: 100px;
  width: 550px;
  color: #1f1f1f;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%; /* 38px */
  letter-spacing: 2px;
}

img.stbry {
  height: 530px;
  margin-bottom: 10px;
}

.deco-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

img.dot-1 {
  margin-bottom: 180px;
  width: 100px;
}

img.dot-2 {
  width: 300px;
}

img.dot-3 {
  width: 210px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.layout-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-inline: 250px;
  margin-top: -200px;
}

h2.cheese-EN {
  color: #1f1f1f;
  font-family: "Love Ya Like A Sister";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

.intro-2 {
  margin-top: 200px;
}

.intro-2 img {
  height: 55px;
  margin-top: 25px;
}

img.cheese {
  height: 530px;
  margin-bottom: 20px;
}

img.flwr {
  height: 280px;
  margin-top: 20px;
  margin-right: 100px;
  display: flex;
  float: inline-end;
}

.title-3 {
  display: flex;
  margin-top: 250px;
  margin-left: 100px;
}

.title-3 img {
  height: 40px;
}

.title-3 h2 {
  color: #924317;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.title-3 h3 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #924317;
  font-size: 32px;
  letter-spacing: 1px;
}

.str {
  margin: 10px;
}

.photo-1 {
  margin-top: 100px;
  margin-left: 150px;
}

.photo-2 {
  margin-top: 720px;
  margin-left: 150px;
}

.Store-1 {
  margin-left: 150px;
  height: 378px;
  position: absolute;
  z-index: 2;
  margin-top: 115px;
}

.Store-1:hover {
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  opacity: 0%;
}

.Store-1-hover {
  margin-left: 150px;
  height: 378px;
  position: absolute;
  z-index: 1;
  margin-top: 115px;
}

.store-1 {
  height: 380px;
  position: absolute;
  z-index: 2;
}

.Store-2 {
  margin-left: 170px;
  margin-top: 115px;
  height: 378px;
  position: absolute;
  z-index: 2;
}

.Store-2:hover {
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
  opacity: 0%;
}

.Store-2-hover {
  margin-left: 170px;
  margin-top: 115px;
  height: 378px;
  position: absolute;
  z-index: 1;
}

.store-2 {
  height: 380px;
  position: absolute;
  z-index: 2;
}

.store-info {
  display: flex;
  justify-content: center;
  margin-left: 500px;
  margin-top: -435px;
  line-height: 50px;
  letter-spacing: 1.2px;
  font-family: "Microsoft JhengHei";
}

.store-info-2 {
  display: flex;
  justify-content: center;
  margin-left: 500px;
  margin-top: 420px;
  line-height: 50px;
  letter-spacing: 1.2px;
  font-family: "Microsoft JhengHei";
}

.info-title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.info-content {
  margin-left: 30px;
  font-size: 20px;
}

img.cnt-3 {
  width: 1200px;
  display: flex;
  margin: auto;
}

.Ground {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -400px;
}

.Ground img {
  width: 100%;
}

.Footer {
  /* margin-top: 100px; */
  height: 500px;
  width: 100%;
  background-color: #f0f0f0;
}

.Footer {
  height: 500px;
  width: auto;
  background-color: #f0f0f0;
}

.Footer {
  height: 500px;
  width: auto;
  background-color: #f0f0f0;
}

.footer {
  padding-top: 90px;
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  justify-content: space-between;
}
.media {
  margin-top: 170px;
  margin-left: -20px;
  display: flex;
}

.media a:hover {
  opacity: 50%;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.media img {
  width: 25px;
  margin-inline: 25px;
}

.ftr-right {
  display: flex;
}

.ftr-menu {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  flex-direction: row;
}

.ftr-menu h3 {
  color: #1f1f1f;
  font-size: 20px;
  padding-bottom: 25px;
  font-weight: 500;
}

.ftr-menu p {
  margin-top: 20px;
  color: #505050;
  font-size: 20px;
  font-weight: 400;
  
  
}

.row-2 {
  margin-inline: 130px;
}

.ftr-menu h3:hover {
  opacity: 60%;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.ftr-menu p:hover {
  opacity: 60%;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.copyright {
  display: flex;
  align-items: flex-end;
  margin-top: 140px;
  justify-content: flex-end;
}

.copyright p {
  font-family: "Microsoft JhengHei";
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #505050;
}
/*go top*/
.goTop {
  position: fixed;
  right: 100px;
  bottom: 80px;
  z-index: 7;
  cursor: pointer;
  rotate: 180deg;
}
.goTop.rotategotop {
  animation: rotategotop 0.8s;
}
@keyframes rotategotop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
