body {
  width: 100vw;
  margin: 0 auto;
  font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
  overflow-x: hidden;
}

.offer_offer_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -50px;
  scale: 0.75;
  margin-left: -100px;
  margin-top: 50px;
}
.offer_offer_puff {
  margin-right: 23px;
}
.offer_offer {
  padding-right: 15px;
}
.offer_card_all_container {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-right: 42px;
}
.offer_card_bear01 {
  width: 368px;
  height: 328px;
  transform: rotate(-0.031deg);
  flex-shrink: 0;
  margin-left: 20px;
  margin-bottom: 60px;
}
.offer_card_item_name {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}
.offer_card_time {
  color: #924317;
  font-family: Love Ya Like A Sister;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
}

.offer_card_countdown {
  color: #924317;
  font-family: Love Ya Like A Sister;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.96px;
  text-align: center;
  margin-top: 100px;
}
.offer_card_price_small {
  color: #1f1f1f;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 25.96px */
}
.offer_card_850 img {
  width: 219px;
  height: 120.44px;
  flex-shrink: 0;
}
.offer_card_quantity {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 40px;
  height: 27px;
}

.offer_carousel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-left: 21px;
}
.offer_carousel-items {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  width: 20px;
  padding-left: 20px;
  padding-right: 30px;
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.offer_card_icon {
  width: 56px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25.5px;
  border: 2px solid #ffd951;
  background: #fffde6;
  background-image: url(../img/card_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 21px;
  margin-left: 20px;
}
.offer_card_icon:hover {
  width: 56px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25.5px;
  border: none;
  background-color: #f8b811;
  background-image: url(../img/Vector_shop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 21px;
  margin-left: 20px;
}
.offer_card_buy_button {
  width: 112px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 200px;
  background: #ffd951;
  border: none;
  padding-top: 13px;
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  margin-left: 14px;
}
.offer_card_buy_button:hover {
  color: #ffffff;
  background: #f8b811;
  margin-left: 14px;
}
.offer_card_time_price_container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.offer_card_quantity_buy {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}
.offer_card_bear01 {
  position: relative;
  bottom: 100px;
  margin-left: 70px;
}
.offer_card_item_container {
  margin-left: 48px;
  position: relative;
  bottom: 150px;
  margin-top: 10px;
}
.offer_card_time_container {
  margin-top: 34px;
  text-align: left;
}
.offer_card_countdown {
  position: relative;
  bottom: 15px;
}
.offer_card_850 {
  margin-top: 10px;
  margin-left: 45px;
}
.offer_card_quantity_line {
  border-right: 0.75px solid rgba(80, 80, 80, 0.6);
  width: 25.263px;
  height: 25px;
  flex-shrink: 0;
  padding-left: 21px;
}
.offer_card_all_container {
  margin-top: 88px;
  background-image: url(../img/Vector01.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 488px;
  height: 579px;
  flex-shrink: 0;
  margin-top: 88px;
}

.offer_new_title02 {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
  padding-top: 150px;
  scale: 0.75;
  margin-bottom: -90px;
}
.offer_new_puff {
  margin-right: 23px;
}
.offer_new {
  padding-right: 15px;
}
.offer_card02_item_name {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-left: -30px;
  padding-top: 35px;
}
.offer_card02_item_name:hover {
  color: #ff9b25;
}
.offer_card02_item_text {
  color: #7d7d7d;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
  letter-spacing: 1px;
  width: 286.088px;
  height: 58px;
  margin-left: 24px;
  margin-top: 10px;
}
.offer_card02_pic {
  height: 265px;
  width: 400px;
  margin-left: -32px;
}
.offer_card02_item_container {
  height: 169px;
  flex-shrink: 0;
  border-radius: 0px 0px 30px 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 338px;
}
.offer_card02_item_container:hover {
  box-shadow: 0px 16px 17px 0px rgba(194, 194, 194, 0.72);
}
.offer_card02_all_container {
  margin-top: 51px;
  width: 371px;
  height: 100%;
}
.offer_card_festival_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 171px;
  scale: 0.75;
  padding-left: 185px;
  margin-top: 60px;
}

.offer_festival_puff {
  margin-right: 23px;
}
.offer_festival {
  padding-right: 15px;
}

.offer_card_festival_pic {
  margin-left: -3px;
  width: 100%; /* 設置寬度為100%，影像將填滿其容器的寬度 */
  height: 255px; /* 讓高度根據寬度自動調整，以保持原始比例 */
  transform: scaleY(1); /* 將高度垂直方向縮放為原來的1.5倍 */
  display: block; /* 避免底部留白 */
  object-fit: cover;
}
.offer_card_festival_item_name {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  padding-left: 70px;
  margin-top: 18px;
  width: 100%;
  margin-left: -82px;
}
.offer_card_festival_item_name:hover {
  color: #ff9b25;
}
.offer_card_festival_item_text {
  color: #7d7d7d;
  text-align: justify;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
  letter-spacing: 1px;
  width: 300px;
  height: 58px;
  margin-left: 24px;
}
.offer_card_festival_item_container {
  border-radius: 0px 0px 30px 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 363px;
  height: 150px;
  flex-shrink: 0;
  width: 100%;
  padding-top: 5px;
}
.offer_card_festival_item_container:hover {
  box-shadow: 0px 16px 17px 0px rgba(194, 194, 194, 0.72);
}
.offer_card_festival_all_card_container {
  margin-top: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 43px;
}
.offer_card_information_pic {
  margin-left: -3px;
  object-fit: cover;
  height: 258px;
}
.offer_card_information_item_name {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  padding-left: 24px;
  margin-left: -220px;
  margin-top: 25px;
}
.offer_card_information_item_name:hover {
  color: #ff9b25;
}
.offer_card_information_item_text {
  color: #7d7d7d;
  text-align: justify;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
  width: 318px;
  height: 58px;
  letter-spacing: 1px;
  padding-left: 24px;
  margin-top: -5px;
}
.offer_card_information_title {
  display: flex;
  flex-direction: row;
  margin-top: 171px;
  scale: 0.75;
  padding-left: 185px;
  margin-bottom: -30px;
  margin-top: 60px;
}
.offer_informationer_puff {
  margin-right: 23px;
}
.offer_information {
  padding-right: 15px;
}
.offer_card_information_item_container {
  border-radius: 0px 0px 30px 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 363px;
  height: 150px;
  flex-shrink: 0;
  padding-top: 5px;
}
.offer_card_information_item_container:hover {
  box-shadow: 0px 16px 17px 0px rgba(194, 194, 194, 0.72);
}
.offer_card_information_all_container {
  margin-top: 42px;
  margin-left: 43px;
}
.offer_card02_see_more {
  width: 144px;
  height: 42.051px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid #ff9b25;
  background: #fff;
  margin-left: 930px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.offer_card02_see_more p {
  color: #f17f00;
  font-family: Microsoft JhengHei;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}

.offer_card02_see_more:hover p:hover {
  border-radius: 30px;
  border: 2px solid #ff9f2f;
  background: #ff9f2f;
  width: 144px;
  height: 42.051px;
  flex-shrink: 0;
  color: #ffffff;
  margin-left: -6px;
  margin-top: -1px;
}
/* .offer_card02_see_more p:hover {
  color: #ffffff;
} */
.offer_card_l1_all_container {
  display: flex;
  flex-direction: row;
  margin-top: 88px;
  scale: 0.75;
  background-image: url(../img/offer_background_img.png);
  background-position: right 50%;
  margin-top: 30px;
  position: relative;
  right: -180px;
}
#offer_prev {
  background-image: url(../img/offer_dec_btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  border: none;
  background-color: #ffffff;
  background: transparent;
}
#offer_prev:hover {
  background-image: url(../img/offer_dec_btn_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  border: none;
  background-color: #ffffff;
}

.offer_new_container {
  display: flex;
  flex-direction: row;
  scale: 0.75;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.offer_card03_item_container {
  border-radius: 0px 0px 30px 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 169px;
  flex-shrink: 0;
  width: 100%;
  padding-top: 35px;
}
.offer_card03_item_container:hover {
  box-shadow: 0px 16px 17px 0px rgba(194, 194, 194, 0.72);
}
.offer_card03_item_name:hover {
  color: #ff9b25;
}
.offer_card03_all_container {
  margin-top: 51px;
  width: 371px;
  height: 100%;
  margin-left: 15px;
}
.offer_card03_pic {
  width: 100%;
  height: 265px;
  width: 100%;
}
.offer_card04_pic {
  width: 371px;
  height: 265px;
}
.offer_card03_item_name {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
  margin-left: -115px;
}
.offer_card03_item_text {
  color: #7d7d7d;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
  letter-spacing: 1px;
  margin-left: 26px;
  margin-right: -13px;
  margin-top: -5px;
  width: 310px;
  text-align: left;
}
.offer_card04_item_name {
  color: #1f1f1f;
  font-family: Microsoft JhengHei;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
  margin-left: 26px;
  margin-right: 180px;
}
.offer_card04_item_name:hover {
  color: #ff9b25;
}
.offer_card04_item_text {
  color: #7d7d7d;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 29px */
  letter-spacing: 1px;
  margin-left: 26px;
  margin-top: -5px;
  text-align: left;
  width: 310px;
}
.offer_card04_item_container {
  border-radius: 0px 0px 30px 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 363px;
  height: 169px;
  flex-shrink: 0;
  width: 100%;
  padding-top: 35px;
}
.offer_card04_item_container:hover {
  box-shadow: 0px 16px 17px 0px rgba(194, 194, 194, 0.72);
}

.offer_card04_all_container {
  margin-top: 51px;
  width: 371px;
  height: 100%;
  margin-left: 43px;
}
.offer_festival_container {
  display: flex;
  flex-direction: row;
  scale: 0.75;
  justify-content: center;
}
.offer_i_container {
  display: flex;
  flex-direction: row;
  scale: 0.75;
  justify-content: center;
}
.offer_n_bg_img {
  background-image: url(../img/offer_background_img.png);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: left top;
  left: 500px;
}
.offer_n_f_i_container {
  background-image: url(../img/格紋底色.png);
  padding-top: 550px;
  background-size: 1636px 2399px;
  background-position: left 550px;
  background-position-x: 195px;
  background-repeat: no-repeat;
}
.offer_card02_see_more_all_container {
  scale: 0.75;
  margin-top: -50px;
  margin-left: 480px;
}

.offer_carousel-dec-button {
  /* background-color: transparent; */
  background-image: url(../img/offer_dec_btn.svg);
  background-repeat: no-repeat;
  border: none;
}
.offer_carousel-dec-button:hover {
  background-image: url(../img/offer_dec_btn_hover.svg);
  background-repeat: no-repeat;
}

.offer_carousel-dec-button {
  background-image: url(../img/offer_dec_btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  border: none;
  background-color: #ffffff;
}
.offer_carousel-dec-button:hover {
  background-image: url(../img/offer_dec_btn_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  border: none;
  background-color: #ffffff;
}
.offer_carousel-inc-button {
  background-image: url(../img/offer_inc_btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  border: none;
  background-color: #ffffff;
}
.offer_carousel-inc-button:hover {
  background-image: url(../img/offer_inc_btn_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  border: none;
  background-color: #ffffff;
}
.offer_up_backgruond_img {
  background-image: url(../img/offer_background_img.png);
  background-size: cover;
  display: block;
}
.offer_li_bear03 {
  margin-top: -35px;
}
.news-submenu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #505050;
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
  letter-spacing: 1px;
}
.news-submenu a:hover {
  color: #f17f00;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}
.news-submenu img {
  height: 30px;
  padding-bottom: 3px;
  margin: 20px;
}
.news-submenu a {
  padding: 30px;
}
.offer_title_l1-card_container {
  padding-top: 80px;
}
.offer_n_card_btn01 {
  border: none;
  background: transparent;
}
.offer_n_card_btn02 {
  background: transparent;
  border: none;
}
.offer_n_card_btn03 {
  background: transparent;
  border: none;
}
.offer_f_card_btn01 {
  background: transparent;
  border: none;
}
.offer_f_card_btn02 {
  background: transparent;
  border: none;
}
.offer_f_card_btn03 {
  background: transparent;
  border: none;
}
#f_name02 {
  margin-left: 22px;
  margin-right: -25px;
}
#f_name03 {
  margin-right: -40px;
}
.offer_i_button01 {
  border: none;
  background: transparent;
}
.offer_i_button02 {
  border: none;
  background: transparent;
}
.offer_i_button03 {
  border: none;
  background: transparent;
}
#offer_f_520bear {
  width: 325px;
}
#offer_i_place02 {
  margin-right: -20px;
}
