body {
  font-family: "Microsoft JhengHei", "Josefin-Sans", sans-serif;
}

/* nav start */
body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif,
    -apple-system, "BlinkMacSystemFont", sans-serif;
  margin: 0;
  width: 100%;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
div {
  scroll-snap-align: start;
}
ul {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0rem;
}
a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 22px;
  font-weight: 1000;
  letter-spacing: 5px;
}
/*header*/
.homepage_header {
  width: 100%;
  height: 120px;
  padding: 25px;
      margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage_hamburger {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homepage_space {
  width: 10%;
  height: 100%;
}

.index {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.index :hover {
  cursor: pointer;
}
.material-symbols-outlined {
  width: 100%;
  height: 100%;
}
#close_icon img {
  height: 150%;
}
.material-symbols-outlined img {
  width: 100%;
  height: 120%;
}
/*strawberry open*/

.menu {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  cursor: pointer;
  background-image: url(./homepage_img/submenuopen_bk.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
#close_icon {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger_space {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
}
.homepage_hamburger-open {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.menu_down {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*strawberry open*/
/*hamburger_content*/
.hamburger_content {
  width: 40%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
}
.hamburger_news {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_news a {
  width: 100%;
  height: 50%;
  display: flex;
}
.hamburger_news h1 {
  font-size: 22px;
  font-weight: 500;
}
.hamburger_news h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_newsli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger_newsli li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_newsli li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
  display: flex;
  justify-content: flex-start;
}
.hamburger_newsli li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
/*strawberry open*/
/*hamburger_about*/
.hamburger_about {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_about h1 {
  font-size: 22px;
  font-weight: 500;
}
.hamburger_about h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_aboutli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger_about li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_about li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_about li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
/*strawberry open*/
/*hamburger_product*/
.hamburger_product {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_product h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hamburger_product h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_productli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger_product li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_product li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_product li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
#homepage_cookies {
  width: 40%;
}
/*strawberry open*/
/*hamburger_all*/
.hamburger_all {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_all h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hamburger_all h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_allli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger_all li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_all li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_all li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
#homepage_cookies2 {
  width: 40%;
}
.hamburger_carousel {
  width: 50%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger_carousel img {
  height: 70%;
  z-index: 6;
  position: absolute;
}
.homepage_nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage_nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homepage_nav li {
  width: 100%;
  height: 100%;
  display: flex;
}
.homepage_nav li img {
  width: 55%;
  margin-top: 70px;
}

.homepage_nav li a {
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;}
.homepage_nav li :hover {
  color: #ff9b25;
  transition-duration: 0.3s;
}
.homepage_icons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_member {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}
.homepage_member a {
width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.homepage_member a img {
  height: 30px;
}
.homepage_member img {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.homepage_member img:last-child:hover {
  opacity: 0;
}
.homepage_shoppingcar {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_shoppingcar a {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
        justify-content: center;
}

.homepage_shoppingcar a img {
  height: 30px;
}
.homepage_shoppingcar img {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.homepage_shoppingcar img:last-child:hover {
  opacity: 0;
}
.homepage_searchbar {
width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.homepage_search {
  display: flex;
  align-items: center;
width: 80%;
    height: 60%;
  padding: 0px 20px 0px 15px;
  border-radius: 50px;
  border: 2px solid #ffe7ab;
  background-color: #fffde6;
}
.homepage_search img {
  width: 20px;
  height: 14px;
  display: flex;
  align-items: center;
}
.homepage_search input {
  width: calc(100px - 50px);
  margin: 0 0 0 5px;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
      font-weight: 400;
    letter-spacing: 2px;
}
::placeholder {
  color: #ff9b25;
  font-weight: 1000px;
}
input:focus {
  outline: none;
  background-color: transparent;
}
input:focus::placeholder {
  transition-duration: 0.3s;
  opacity: 0;
  background-color: transparent;
}
.search_white {
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.search_orange {
  background-color: #fffde6;
  transition-duration: 0.3s;
}
.login-title {
  color: #1f1f1f;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.6px;
  margin-top: 80px;
}

/* nav start */

.tidy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-info {
  margin: 0 auto;
  margin-top: 60px;
  line-height: 30px;
  width: auto;
  justify-content: center;
}

.Forgrt {
  margin-left: 330px;
}

.forget {
  color: #1f1f1f;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.1px;
  text-decoration: underline;
}

.forget:hover {
  color: #8a8a8a;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.blank-0 {
  height: 20px;
}

.login-info p {
  padding-left: 12px;
  /* margin-left: 40px; */
  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.login-info input {
  /* margin-left: 60px; */
  /* padding-left: 5px; */
  margin-top: 5px;
  margin-bottom: 15px;
  width: 400px;
  height: 45px;
  border-radius: 14px;
  border: 3px solid #ffe7ab;
}

.login-info input:focus {
  padding-left: 10px;
  outline: none;
  border: 3px solid #ff9b25;
  background-color: #fffde6;
}

.login-info input:-webkit-autofill {
  -webkit-text-fill-color: #1f1f1f;
  background-color: #fff;
  transition: background-color 50000s ease-in-out 0s;
}

::placeholder {
  color: #7d7d7d;
  padding-left: 10px;
  letter-spacing: 1.1px;
  display: inline;
}

.btn {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

button.login-btn {
  width: 120px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #ff9b25;
  background-color: #fff;
  color: #ff9b25;
  font-weight: bold;
  font-size: 16px;
}

button.login-btn:hover {
  background-color: #ff9b25;
  color: #fff;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.new-acnt {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-align: Center;
  letter-spacing: 1px;
}

.new-acnt a {
  padding-top: 0;
  padding-left: 5px;
  letter-spacing: 1px;
  color: #3f3f3f;
  font-weight: bold;
  text-decoration: underline;
}

.new-acnt a:hover {
  color: #ff9b25;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.neil {
  margin-top: -100px;
}

.neil img {
  margin-left: 150px;
  width: 650px;
}

/* footer start */

.Footer {
  height: 500px;
  width: auto;
  background-color: #f0f0f0;
}

.footer {
  padding-top: 90px;
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  justify-content: space-between;
}
.media {
  margin-top: 170px;
  margin-left: -20px;
  display: flex;
}

.media a:hover {
  opacity: 50%;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.media img {
  width: 25px;
  margin-inline: 25px;
}

.ftr-right {
  display: flex;
}

.ftr-menu {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  flex-direction: row;
}

.ftr-menu h3 {
  color: #1f1f1f;
  font-size: 20px;
  padding-bottom: 25px;
  font-weight: 500;
}

.ftr-menu p {
  margin-top: 20px;
  color: #505050;
  font-size: 20px;
  font-weight: 400;
  
  
}

.row-2 {
  margin-inline: 130px;
}

.ftr-menu h3:hover {
  opacity: 60%;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.ftr-menu p:hover {
  opacity: 60%;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.copyright {
  display: flex;
  align-items: flex-end;
  margin-top: 140px;
  justify-content: flex-end;
}

.copyright p {
  font-family: "Microsoft JhengHei";
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #505050;
}
/* footer end */
