body {
  font-family: "Microsoft JhengHei", "Josefin-Sans", sans-serif;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", sans-serif,
    -apple-system, "BlinkMacSystemFont", sans-serif;
  margin: 0;
  width: 100%;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
div {
  scroll-snap-align: start;
}
ul {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0rem;
}
a {
  color: #1f1f1f;
    font-size: 15px;
    font-weight: 1000;
    letter-spacing: 2px;
}
/*header*/
.homepage_header {
  width: 100%;
  height: 120px;
  padding: 25px;
      margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage_hamburger {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homepage_space {
  width: 10%;
  height: 100%;
}

.index {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.index :hover {
  cursor: pointer;
}
.material-symbols-outlined {
  width: 100%;
  height: 100%;
}
#close_icon img {
  height: 150%;
}
.material-symbols-outlined img {
  width: 100%;
  height: 120%;
}
/*strawberry open*/

.menu {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  cursor: pointer;
  background-image: url(./homepage_img/submenuopen_bk.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
#close_icon {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger_space {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
}
.homepage_hamburger-open {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.menu_down {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*strawberry open*/
/*hamburger_content*/
.hamburger_content {
  width: 40%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
}
.hamburger_news {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_news a {
  width: 100%;
  height: 50%;
  display: flex;
}
.hamburger_news h1 {
  font-size: 22px;
  font-weight: 500;
}
.hamburger_news h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_newsli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger_newsli li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_newsli li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
  display: flex;
  justify-content: flex-start;
}
.hamburger_newsli li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
/*strawberry open*/
/*hamburger_about*/
.hamburger_about {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_about h1 {
  font-size: 22px;
  font-weight: 500;
}
.hamburger_about h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_aboutli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger_about li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_about li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_about li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
/*strawberry open*/
/*hamburger_product*/
.hamburger_product {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_product h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hamburger_product h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_productli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger_product li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_product li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_product li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
#homepage_cookies {
  width: 40%;
}
/*strawberry open*/
/*hamburger_all*/
.hamburger_all {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger_all h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hamburger_all h1:hover {
  color: #ff9b25;
  transition: 0.3s;
}
.hamburger_allli {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hamburger_all li {
  display: flex;
  font-size: 12px;
  width: 25%;
}
.hamburger_all li a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}
.hamburger_all li :hover {
  color: #ff9b25;
  transition: 0.3s;
}
#homepage_cookies2 {
  width: 40%;
}
.hamburger_carousel {
  width: 50%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger_carousel img {
  height: 70%;
  z-index: 6;
  position: absolute;
}
.homepage_nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage_nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.homepage_nav li {
  width: 100%;
  height: 100%;
  display: flex;
}
.homepage_nav li img {
  width: 55%;
  margin-top: 70px;
}

.homepage_nav li a {
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;}
.homepage_nav li :hover {
  color: #ff9b25;
  transition-duration: 0.3s;
}
.homepage_icons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_member {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}
.homepage_member a {
width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.homepage_member a img {
  height: 30px;
}
.homepage_member img {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.homepage_member img:last-child:hover {
  opacity: 0;
}
.homepage_shoppingcar {
  width: 20%;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_shoppingcar a {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
        justify-content: center;
}

.homepage_shoppingcar a img {
  height: 30px;
}
.homepage_shoppingcar img {
  position: absolute;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.homepage_shoppingcar img:last-child:hover {
  opacity: 0;
}
.homepage_searchbar {
width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.homepage_search {
  display: flex;
  align-items: center;
width: 80%;
    height: 60%;
  padding: 0px 20px 0px 15px;
  border-radius: 50px;
  border: 2px solid #ffe7ab;
  background-color: #fffde6;
}
.homepage_search img {
  width: 20px;
  height: 14px;
  display: flex;
  align-items: center;
}
.homepage_search input {
  width: calc(100px - 50px);
  margin: 0 0 0 5px;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
      font-weight: 400;
    letter-spacing: 2px;
  
}
.HomepageSearch_input::placeholder {
  color: #ff9b25;
  font-weight: 1000px;
  display: flex;
    justify-content: flex-start;
}
input:focus {
  outline: none;
  background-color: transparent;
}
input:focus::placeholder {
  transition-duration: 0.3s;
  opacity: 0;
  background-color: transparent;
}
.search_white {
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.search_orange {
  background-color: #fffde6;
  transition-duration: 0.3s;
}

.deliver-info {
  color: #1f1f1f;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.6px;
  margin-top: 200px;
}

.deliver {
  background: #fffde6;
  margin: auto;
  margin-top: 50px;
  width: 900px;
  height: 60px;
}

.deliver p {
  padding: 18px;
  margin-left: 40px;
  color: #1f1f1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.delivery {
  margin: auto;
  margin-top: 30px;
  padding-left: 103px;
  width: 900px;
  height: 60px;
}

.option {
  margin-top: 10px;
  width: 220px;
  height: 40px;
  box-shadow: 0px 2px 10px -1px rgba(101, 101, 101, 0.3);
  border-radius: 999px;
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  color: #7d7d7d;
  font-family: "Josefin Sans";
}

.option select {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 20px;
  border-radius: 999px;
  font-size: 16px;
  color: #7d7d7d;
  font-family: "Josefin Sans";
}

.option:after {
  content: "";
  width: 50%;
  height: 50%;
  background: url(../img/arrow.svg) no-repeat center;
  position: absolute;
  right: -20px;
  top: 25%;
  pointer-events: none;
  color: #ff9b25;
  font-family: "Josefin Sans";
}

/* date*/

.pickup-date {
  padding-left: 50px;
}

.pickup-date p {
  padding-left: -50px;
  font-weight: bold;
}

.pickup-date input {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 999px;
  border: none;
  box-shadow: 0px 2px 10px -1px rgba(101, 101, 101, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #7d7d7d;
}

.pickup-date input:focus {
  border: none;
}

.purchase-info {
  margin: auto;
}

p.Pickuptime {
  font-weight: bold;
}

.pickup-timep p {
  font-weight: bold;
}

.pickup-time {
  padding-left: 50px;
  font-weight: 400;
  font-family: "Josefin Sans";
}

.pickup-time option {
  font-weight: 400;
  font-family: "Josefin Sans";
}

.delivery_label {
  margin: 0 20px;
}

.pickup-store {
  float: left;
  margin-left: 60px;
}

.pickup-store p {
  font-weight: bold;
  padding-left: 5px;
}

.pickup-date {
  float: left;
}

.pickup-time {
  float: left;
}

.purchase-info {
  margin-top: 50px;
}

.purchase {
  background: #fffde6;
  margin: auto;
  margin-top: 40px;
  width: 900px;
  height: 60px;
}

.purchase h3 {
  padding: 18px;
  margin-left: 40px;
  color: #1f1f1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.consumer {
  background: #fffde6;
  margin: auto;
  margin-top: 200px;
  width: 900px;
  height: 60px;
  line-height: 30px;
}

.consumer h3 {
  padding: 18px;
  margin-left: 40px;
  margin-bottom: 40px;
  color: #1f1f1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.consumer p {
  padding-left: 32px;
  margin-left: 40px;
  margin-top: 10px;
  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.consumer input {
  margin-left: 60px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 400px;
  height: 45px;
  border-radius: 15px;
  border: 3px solid #ffe7ab;
}

.consumer input:focus {
  padding-left: 10px;
  outline: none;
  border: 3px solid #ff9b25;
  background-color: #fffde6;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #1f1f1f;
  background-color: #fff;
  transition: background-color 50000s ease-in-out 0s;
}

::placeholder {
  color: #7d7d7d;
  padding-left: 10px;
  letter-spacing: 1.1px;
  display: inline;
}

.Recieve {
  background: #fffde6;
  margin: auto;
  margin-top: 500px;
  width: 900px;
  height: 60px;
  line-height: 30px;
}

.Recieve h3 {
  padding: 18px;
  margin-left: 40px;
  color: #1f1f1f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.Recieve p {
  padding-left: 32px;
  margin-left: 40px;
  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.recieve {
  margin-left: 58px;
  padding-top: 10px;
}

/* input radio*/

.delivery label {
  letter-spacing: 1px;
  font-size: medium;
}

.item-value {
  margin-top: 20px;
}
.item-value input[type="radio"] {
  display: none;
}

.item-value input[type="radio"] + label > i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #505050;
  background: transparent;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 3px;
  top: -2px;
  box-sizing: border-box;
}

.item-value input[type="radio"] + label > i {
  border-radius: 50%;
}

.item-value input[type="radio"]:checked + label {
  color: #ff9b25;
  font-weight: bold;
  letter-spacing: 1px;
}

.item-value input[type="radio"]:checked + label > i {
  border: 1.6px solid #505050;
}

.item-value input[type="radio"]:checked + label > i::before {
  width: 12px;
  height: 12px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff9b25;
  border-radius: 50%;
}

.recipient {
  margin-top: 35px;
  margin-left: -60px;
}

.recipient p {
  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
}

.recipient input {
  margin-left: 60px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 400px;
  height: 45px;
  border-radius: 15px;
  border: 3px solid #ffe7ab;
}

.recipient input:focus {
  padding-left: 10px;
  outline: none;
  border: 3px solid #ff9b25;
  background-color: #fffde6;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #1f1f1f;
  background-color: #fff;
  transition: background-color 50000s ease-in-out 0s;
}

::placeholder {
  color: #7d7d7d;
  padding-left: 10px;
  letter-spacing: 1.1px;
  display: inline;
}

.total {
  background: #fffde6;
  margin: auto;
  margin-top: 550px;
  width: 900px;
  height: 200px;
}

.word {
  padding-top: 30px;
  margin-left: 550px;
  display: flex;
  align-items: center;
}

.price {
  float: left;
}

.number {
  float: left;
}

.price p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.number p {
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  padding-left: 20px;
  color: #ff9b25;
}

.ck-btn {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #ff9b25;
  background: #fff;
  margin-left: 670px;
  margin-top: 10px;
  color: #ff9b25;
  font-weight: bold;
  font-size: 16px;
}

.ck-btn:hover {
  background: #ff9b25;
  color: #fff;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

/* Footer Starts*/
.Footer {
  margin-top: 250px;
  height: 500px;
  width: auto;
  background-color: #f0f0f0;
}

.footer {
  padding-top: 90px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}
.media {
  margin-top: 170px;
  margin-left: -20px;
  display: flex;
}

.media a:hover {
  opacity: 50%;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.media img {
  width: 25px;
  margin-inline: 25px;
}

.ftr-right {
  display: flex;
}

.ftr-menu {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  flex-direction: row;
}

.ftr-menu h3 {
  color: #1f1f1f;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 25px;
}

.ftr-menu p {
  margin-top: 20px;
  color: #505050;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
}

.row-2 {
  margin-inline: 130px;
}

.ftr-menu h3:hover {
  opacity: 60%;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.ftr-menu p:hover {
  opacity: 60%;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.copyright {
  display: flex;
  align-items: flex-end;
  margin-top: 140px;
  justify-content: flex-end;
}

.copyright p {
  font-size: 13px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #505050;
}
/* Footer Ends*/
